/* PREMIUM PART STYLE */
.premium {
  background-image: url("./../Images/image\ \(3\).jpeg");
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 150px 5%;
}

.toDimHome {
  background-color: #3a3a3a !important;
  color: #fff;
  .fresh {
    border: 2px solid #444444;
    background-color: #3a3a3a;
  }
  .fresh:hover {
    box-shadow: none;
    transform: scale(1.01);
    border: 2px solid #f1c8c8;
  }
  .graLight {
    background-color: #3d3d3d;
    border-color: #ffc7c7;
  }
  .eachDish {
    background-color: #303030 !important;
  }
  .eachDish:hover {
    background-color: #303030 !important;
    box-shadow: 1px 2px 10px #4b4a4a;
  }
  .name {
    color: #fff;
  }
  .place-wraper {
    box-shadow: 1px 1px 15px #494949;
    background-color: #303030;
  }
  .circle-head {
    color: black;
  }
  .feedBtn button {
    box-shadow: 1px 1px 10px #3a3a3a;
  }
  .pre-box-wraper {
    background-color: #3a3a3ad7;
  }
}
.visualV1 {
  background-image: url("./../Images/main2.webp");
}
.visualV2 {
  background-image: url("./../Images/main3.webp");
}
.visualV3 {
  background-image: url("./../Images/main5.webp");
}
.visualHomeA1 {
  background-image: url("./../Images/main1.webp");
}
.visualHomeA2 {
  background-image: url("./../Images/fas1.webp");
}
.visualHomeA3 {
  background-image: url("./../Images/moj2.webp");
}
.written-home {
  height: 350px;
}
.simpleHight {
  height: 150px !important;
}
.home-page {
  background-color: #fffef6;
}
.home-page p {
  margin: 0px;
}
.pre-box-wraper {
  background-color: #ffffffd8;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 1px 5px 10px #3f3f3f;
  max-width: 700px;
}
.pre-flex-div {
  margin-top: 20px;
}
.pre-text {
  background-color: var(--bg-color);
  border-radius: 15px;
  border: 0.5px solid #f5a3a3d8;
  color: var(--primary-color);
  width: fit-content !important;
  padding: 3px 10px;
}
.mart {
  margin-top: 15px !important;
}
.chef {
  margin-top: 90px;
}
.lerase {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
}

.crispy {
  margin-bottom: 15px;
}
.crispy p {
  font-size: 40px;
  font-weight: 700;
  margin: 0px;
}
.redcol {
  color: var(--primary-color);
}

.pre-exp {
  border: none;
  background-color: var(--primary-color);
  border-radius: 10px;
  padding: 5px 10px;
  color: #fff;
  margin-right: 15px;
  width: 100%;
  height: 40px;
  text-align: center;
}
.pre-find {
  height: 40px;
  text-align: center;
  color: #222222;
  border-radius: 10px;
  padding: 5px 10px;
  border: 1px solid #c9c9c9;
}

/* QUALITY PART STYLE */

.quality {
  padding: 60px 20px;
}
.choose {
  text-align: center;
}
.choose-text {
  background-color: #e6c610;
  padding: 5px 10px;
  display: inline-block;
  border-radius: 20px;
  font-weight: 600;
}
.arrower {
  margin-right: 10px;
}
.taste {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  padding-top: 20px;
}
.you {
  display: inline;
}
.tasteT {
  display: inline;
  color: var(--primary-color);
  margin-left: 10px;
}
.difference {
  text-align: center;
}

.qualityList {
  padding: 40px 1px;
}

.toSpace {
  padding: 10px;
}
.quality .fresh {
  height: 100%;
}
.fresh {
  border-radius: 10px;
  border: 2px solid #fae2e2;
  padding: 15px;
  background-color: #fff;
  text-align: center;
  transition: transform 0.3s ease;
}
.fresh:hover {
  box-shadow: 1px 1px 10px #f1c8c8;
  transform: scale(1.01);
  border: 2px solid #f1c8c8;
}
.fresh p {
  text-align: center;
}
.iconals {
  color: var(--primary-color);
  font-size: 25px;
  margin-bottom: 10px;
}
.meem {
  transition: transform 0.3s ease-in-out;
}
.meem:hover {
  transform: rotate(10deg);
}
.iconals p {
  background-color: #ecc2c2;
  padding: 2px 10px 5px;
  display: inline-block;
  border-radius: 10px;
}
.alw-top {
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px !important;
}
.as-btn {
  border-radius: 20px;
  margin-top: 10px !important;
  background-color: #fde3e3;
  padding: 0.5px 10px 2px;
  display: inline-block;
  color: var(--primary-color);
  font-weight: bold;
}

/* CATAGORY PART STYLE */
.sign-texts {
  text-align: center;
}
.text-favo {
  display: inline-block;
  background-color: #fff;
}
.text-favo p {
  display: inline-block;
  margin-left: 10px;
}
.yelloo {
  background-color: #f5bf0e;
  color: #000000;
  font-weight: 500;
}
.name {
  color: black;
}
.eachDish:hover {
  cursor: pointer;
  .name {
    color: var(--primary-color);
  }
}
.cata-sign {
  margin-left: 10px !important;
}
.home-writen {
  margin-bottom: 40px;
}
.home-visual {
  height: 200px;
  max-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 1px solid #d8d8d8;
}

.home-iconals {
  padding: 10px;
  color: #fff;
  display: flex;
  justify-content: space-between;
}
.home-meem {
  background-color: var(--primary-color) !important;
  border-radius: 15px !important;
}
.most {
  background-color: rgb(255, 190, 12) !important;
  color: black;
  border-radius: 18px;
  font-weight: 500;
  font-size: 16px;
  height: fit-content;
}
.dishers {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.no-dishes {
  border: 1px solid #d1d1d1;
  padding: 1px 10px;
  border-radius: 15px;
}
.viewMenu {
  color: var(--primary-color);
}
.location {
  margin: 20px 5px 40px;
}
.wholeVisit {
  margin: 30px;
}
.visitLists {
  display: flex;
  margin: 30px;
}
.bySide {
  margin-left: 15px;
}
.usVisit {
  font-size: 18px;
  font-weight: 700;
}
.blues {
  color: rgb(23, 179, 23);
}
.greeys {
  color: rgb(39, 84, 233);
}
.last-er {
  display: block;
}
.mr-lock {
  padding: 20px 20px 10px;
  display: flex;
}
.text-part {
  margin-left: 10px;
}
.mr-part {
  font-size: 18px;
  font-weight: 700;
}
.easy-park {
  padding: 20px 20px 10px;
  display: flex;
  justify-content: space-between;
}
.place-wraper {
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: 1px 1px 15px #d3d3d3;
  background-color: #fff;
}
.open {
  color: #1b9e37;
}
.real-feeds {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 100%;
}
.feed {
  flex-shrink: 0;
  padding: 20px;
  width: fit-content;
}
.feed-wraper {
  border-radius: 10px;
  border: 1px solid #c9c9c9;
  padding: 20px;
  height: 300px;
  width: 330px;
}
.feed-head {
  display: flex;
}
.circle-head {
  border-radius: 50%;
  border: 1px solid #df8b8b;
  padding: 5px 13px;
  font-size: 18px;
  font-weight: 450;
  font-weight: 500;
  background-color: #ffe5d7;
}
.rating-pad {
  position: absolute;
  left: calc(10px + 8px);
  top: 24px;
  color: #db3636;
  border-radius: 15px;
  border: 1px solid #ffffff;
  font-size: 10px;
  background-color: #ffe5d7;
  padding: 1px 4px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.name-feeder {
  font-weight: 700;
  margin-left: 10px;
  display: flex;
  align-items: center;
}
.italics {
  font-style: italic;
  padding-bottom: 20px;
}
.feedBack-wraper {
  text-align: center;
}
.feedBack-wraper p {
  margin-bottom: 10px !important;
}
.feed-desc {
  height: 160px;
}
.feed-back {
  margin: 100px auto 0px;
  padding-bottom: 100px;
}
.plus-sign {
  margin-bottom: 0px;
}
.kasfelege {
  width: fit-content;
}
.firer {
  background-color: #ec4630 !important;
  color: #fff;
  padding-left: 10px;
  padding-right: 10px;
}
.esat {
  padding: 0px 10px 0px !important;
  background-color: #96000086 !important;
}
.yell {
  background-color: #7fa8d8 !important;
  color: #fff;
}
.gree {
  background-color: #5cc752 !important;
  color: #fff;
}
.rdrd {
  color: var(--primary-color);
}
.namisha {
  display: flex;
  justify-content: space-between;
}
.monster {
  margin-top: 100px !important;
  margin-left: 10px !important;
  padding: 2px 10px;
  width: fit-content;
}
.Ido {
  display: flex;
  justify-content: space-between;
}
.feeds-wraper {
  position: relative;
}
.feedBtn {
  width: 98%;
  position: absolute;
  left: calc(10px + 1px);
  top: 150px;
}
.feedBtn button {
  width: 40px;
  height: 40px;
  border: 0.3px solid #dbdada;
  background-color: #fff;
  box-shadow: 1px 1px 10px #858484;
  border-radius: 50%;
  color: black;
  font-size: 18px;
  font-weight: 600;
  padding-left: 3px;
  padding-top: 10px;
  svg {
    vertical-align: top;
  }
}
.name-letter {
  position: relative;
  margin-bottom: 15px;
}
.real-f {
  margin-top: 20px;
}
.adminAdmin{
  position: absolute;
  top: 80px;
  right: 20px;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  padding: 10px;
  font-size: 22px;
  font-weight: 600;
  background-color: #e0e0e0;
}

@media (min-width: 768px) {
  .abstract {
    height: 96%;
  }
}
@media (min-width: 992px) {
  .fullWidth {
    width: 100% !important;
  }
}
@media (min-width: 1200px) {
  .abstract {
    height: auto;
  }
}
